.mastersButtonCss{margin-top: 23px;  padding: 5px !important; background: inherit !important; border: 1px solid #fff !important;}
.nav.pull-right>li>.dropdown-menu, .nav>li>.dropdown-menu.pull-right { right: 0; left: auto; top: 68px !important;}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-menu {/*width: 350px !important;*/ padding: 5px !important; background: linear-gradient(to bottom, #020111 10%, #3a3a52 100%);}

    
.logoClass{ 
    margin-top: 15px;
    width: 100%;
    object-fit: cover;
    object-position: 50%
}
.profile-img{
    object-fit: cover;
    object-position: 50% 50%; 
    width: 100%;
    height: 100px;
    margin-right: 10px;
}

.profile-img1 {
    object-fit: cover;
    object-position: 50% 50%;
    width: 50px;
    margin-top: 15px;
    height: 41px;
    border-radius: 8px;
}

.pfdetails{ 
    text-align: center;
    padding: 5px; 
    color: #000;
    font-size: 14px;
    border:1px solid #555;
    background: #fff;
}

.pfdetails > li {
    border-bottom: 1px solid #555;
    padding: 6px 0px;
}

.pfdetails > li > a > span {
    color: #555 !important;
    text-decoration: none;
}

.dropdown-menu > li > a > span {
      color: #555 !important;
}

 .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li:hover > a > .menu-title {
    display: inline !important;
    padding-left: 15px;
  }

 .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li > a > .badge,
 .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li > a > .menu-title,
 .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li > a > .arrow {
    display: none !important;
 }

.page-sidebar-closed.page-sidebar-reversed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li:hover > a > .menu-title {
    padding-left: 0 !important;
    padding-right: 15px !important;
  }

 .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i, .page-sidebar .page-sidebar-menu > li > a > i {
    color: #fff !important;
 }

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i, .page-sidebar .page-sidebar-menu .sub-menu > li > a > i {
     color: #fff !important;
}

.sub-menu {
    margin-top: 0px !important ;
}

.page-sidebar .page-sidebar-menu .sub-menu li, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li {
    background: #000 !important;
    margin: 0px;
    padding: 0px;
    margin-top: 1px !important;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle > .badge {
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 5px !important;
    right: -1px !important;
    font-weight: 300;
    padding: 3px 6px;
    background: red;
}

.menu-title{
 color:#fff !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler, .page-sidebar .sidebar-toggler {
    background: none !important;
    font-size: 24px !important;
    color: #fff !important;

}

  .input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    width: 25% !important;
}

.list-search-submit{
      height: 34px !important; 
}

h2{ font-size: 21px !important; }

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #000 !important;
}

.table-bordered tbody th{
    background: linear-gradient(45deg, rgba(61,198,170,1) 0%, rgba(59,179,182,1) 100%) !important;
    color: #fff !important;
}   

.table-bordered thead th{
  background: linear-gradient(45deg, rgba(61,198,170,1) 0%, rgba(59,179,182,1) 100%) !important;
  border-right: 0 !important;
  border-left: 0 !important;
  color: #fff !important;
}

.table-bordered thead th a{
  color: #fff !important;
 } 

 /*.dropdown-toggle {
    height: 30px !important;
}*/

.padding-left{
    padding-left:0px !important; 
}
.padding-right{
    padding-right:0px !important; 
}

.callingInput{
    border-right : 0px solid #000 !important;
    border-radius: 0px !important;
}
.contactText{
    border-radius: 0px !important;
    margin-top: 26px;
}

/*.dropdown-toggle:hover{
    background: transparent !important;

}*/