.nav-dropdown {
    width: 200px;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    display: none;
    position: absolute;
    list-style: none;
    z-index: 9999;
}
.navigation-portrait .nav-dropdown {
    width: 100%;
    position: static;
    left: 0;
}
.nav-dropdown .nav-dropdown {
    left: 100%;
}
.nav-menu > li > .nav-dropdown {
    border-top: solid 0 #f0f0f0;
}
.nav-dropdown > li {
    width: 100%;
    float: left;
    clear: both;
    position: relative;
    text-align: left;
}
.nav-dropdown > li > a {
    width: 100%;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
    float: left;
    font-size: 16px;
    color: #000;
	line-height: 18px;
    transition: color 0.3s, background 0.3s;
    border-bottom: 0 solid #ececec;
}
.nav-dropdown > li:first-child > a {
    border-radius: 6px 6px 0px 0px;
}
.nav-dropdown > li:last-child > a {
    border-radius: 0px 0px 6px 6px;
}
.nav-dropdown > .focus > a,
.nav-dropdown > li:hover > a {
	background: #673400 !important;
    color: #fff !important;
}
.nav-dropdown.nav-dropdown-left {
    right: 0;
}
.nav-dropdown > li > .nav-dropdown-left {
    left: auto;
    right: 100%;
}
.navigation-landscape .nav-dropdown-left > li > a {
    text-align: right;
}
.navigation-portrait .nav-dropdown > li > a {
    padding: 10px 20px 10px 20px;
    color: #000;
	font-size: 16px;
}
.navigation-portrait .nav-dropdown > li:first-child > a {
    border-radius: 0px 0px 0px 0px;
}
.navigation-portrait .nav-dropdown > li:last-child > a {
    border-radius: 0px 0px 0px 0px;
}
.navigation-portrait .nav-dropdown > li > a:hover {
    color: #fff;
}
.navigation-portrait .nav-dropdown > li > ul > li > a {
    padding-left: 50px;
}
.navigation-portrait .nav-dropdown > li > ul > li > ul > li > a {
    padding-left: 70px;
}
.navigation-portrait .nav-dropdown > li > ul > li > ul > li > ul > li > a {
    padding-left: 90px;
}
.navigation-portrait .nav-dropdown > li > ul > li > ul > li > ul > li > ul > li > a {
    padding-left: 110px;
}
.nav-dropdown .submenu-indicator {
    right: 10px;
    top: 8px;
    position: absolute;
}
.navigation-portrait .submenu-indicator {
    right: 0;
    top: 0;
}
.nav-dropdown .submenu-indicator .submenu-indicator-chevron {
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.navigation-portrait .nav-dropdown .submenu-indicator .submenu-indicator-chevron {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.nav-dropdown > .focus > a .submenu-indicator-chevron,
.nav-dropdown > li:hover > a .submenu-indicator-chevron {
    border-color: transparent #a0d468 #a0d468 transparent;
}
.navigation-landscape .nav-dropdown-left .submenu-indicator {
    left: 10px;
}
.navigation-landscape .nav-dropdown-left .submenu-indicator .submenu-indicator-chevron {
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

/****************************************************************************************************
Media Query css start here
****************************************************************************************************/

@media screen and (max-width : 1080px) {

.nav-dropdown > li > a {
    font-size: 13px;
}	
	
}

