.filerbox {
	background-color: #f9feff;
	border: solid #e3f6fa 1px;
    border-radius: 10px;
}
.filerboxcont {
	font-size: 13px;
	color: #000;
}
.filerboxcont ul {
	margin: 0px;
	padding: 0px;
}
.filerboxcont ul li {
	list-style-type: none;
	margin: 0px;
	padding: 3px 0px;
}
.filerboxcont ul li label {
	color:#000;
    font-size: 13px !important;
}
.screen-reader-text {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.search-form {
	width: 35%;
	float: left;
	padding-right: 20px;
}
.search-term {
	width: 100%;
	margin: 0 0 5px 0;
}
.search-terms {
	display: table;
	margin: 0 0 10px 0;
}
.search-filters {
	/*	overflow: hidden;*/
	margin-bottom: 30px;
	padding: 0px;
}
.search-filters-title {
	font-size: 18px !important;
	margin: 0 0 0px 0;
	padding:0px;
	color: #fff !important;
	text-decoration: none !important;
}
.searchtitle2 {
	padding:15px 12px 0px 12px;
	border-radius: 0px;
	color: #07242a !important;
    font-weight: 700;
	font-family: 'Merriweather', serif;
}
.search-filters-title a {
	color: #fff !important;
	text-decoration: none !important;
}
.filter-group {
	padding: 0px 0px;
	border: 0px solid #888888;
}
.cd-filter-content {
	padding: 5px 0px 0px 0px;
}
.cloned-filters {
	display: none;
}
.search-results {
	width: 65%;
	float: right;
	padding-bottom: 2500px; /* just scrolling space */
}
.result {
	float: left;
	width: 24%;
	height: 100px;
	margin-right: 1.33%;
	margin-bottom: 1.33%;
	background: #eee;
}
.result:nth-child(4n) {
	margin-right: 0;
}
.result img {
	width: 100%;
	height: auto;
	display: block;
}

@media (max-width: 1000px) {
body {
/*width: 90%;*/
}
}

@media (max-width: 992px) {
body, .search-form, .search-results {
	width: 100%;
}
.filerbox {
	/*border-bottom: solid #f49223 0px;*/
}
.search-form {
	padding: 0;
}
.search-terms {
	display: table;
	width: 100%;
	margin: 0;
}
.search-terms > div {
	display: table-row;
}
.search-terms > div > span {
	display: table-cell;
}
.search-term-wrap {
	padding-right: 10px;
}
.search-button {
	width: 100%;
}
.search-filters-title {
	color: #154036 !important;
	text-decoration: none;
	cursor: pointer;
	margin: 0;
	font-size: 18px !important;
	padding:0px;
    background: url(../img/filtericon.png) no-repeat right 12px top 15px;
}
.searchtitle2 {
	padding: 15px 12px;
	border-radius: 0px;
	color: #154036 !important;
}
.search-filters.pinned {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
}
.filter-group {
	display: none;
}
.filter-explanation {
	display: none;
}
.filters-open .filter-group, .filters-open .filter-explanation {
	display: block;
}
.filters-open .search-filters-title {
	margin: 0px;
}
.search-filters {
	/*overflow: hidden;*/
	margin: 0px 0 20px 0;
	padding: 0px;
}
}
